@import '~vuetify/dist/vuetify.css';

.v-input__slot
    margin-bottom: 2px

.v-data-table
    th.kode
        width: 85px
    
    th.nip
        width: 185px
    
    th.eselon
        width: 109px

    &--dense td
        height: 36px
    
    tbody tr.v-data-table__expanded__content
        box-shadow: none