@import '~vuetify/dist/vuetify.css';

.v-input__slot
    margin-bottom: 2px

.v-data-table
    th.kode
        width: 85px
    
    th.nip
        width: 185px
    
    th.eselon
        width: 109px

    &--dense td
        height: 36px
    
    tbody tr.v-data-table__expanded__content
        box-shadow: none

.v-list-item
    padding: 0 8px 0 16px

.v-subheader--inset
    margin-left: 64px

.v-toolbar__content > .v-btn.v-btn--icon:first-child + .v-toolbar__title
    padding-left: 24px