body
    padding: 0
    margin: 0

.print-page
    table
        width: 100%
        border-collapse: collapse
        margin-bottom: 24px

    table, th, td
        border: 1px solid #000000

    th, td
        padding: 0 8px

    .tbl-no
        width: 36px

    .tbl-right
        text-align: right
        width: 72px
    
    .tbl-esl
        text-align: center
        width: 54px

    .print-wrap
        position: relative
        display: flex

        > *
            width: 50%

    .print-total
        position: absolute
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        font-size: 48px

    .print-title
        font-weight: bold
        font-size: 22px
        text-align: center
        margin-bottom: 36px

    .print-subtitle
        font-weight: bold
        font-size: 18px
        margin-bottom: 8px

    #chartImageHolder
        position: relative
        margin: 0 auto 76px
        width: 40%

        img
            width: 100%

@page
    size: A4
    margin: 0
    padding: 10mm

@media print
    html, body
        width: 210mm
        height: 297mm
    
    .print-page
        padding: 10mm
        width: 210mm
        min-height: 297mm
    
    th, td
        font-size: 12px